<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @first_name %>,</h1>

    <p>Your account has been created. Kindly wait for approval email soon.</p>

    <p>Thanks!<br>
    Shop It Enterprise</p>
  </body>
</html>